[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile  = "~/.config/git/allowed-signers"

[include]
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig.work

[push]
	default = current
	autoSetupRemote = true
    followTags = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[rerere]
	enabled = true

[init]
    defaultBranch = master


[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

